/* Reset some default browser styles */
body, h1,h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

.mainbody {
    margin: 30px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin: 25px;
    text-align: center;
}

.feature {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 1% 13%;
    border-radius: 5px;
    line-height: 1.5;
}

.feature:hover {
    border: 2px solid deeppink;
}

.feature h3 {
    color: #333;
    padding: 5px 0;
}

.show-btn {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #FFC44A;
    border: none;
}

.show-btn a {
    list-style: none;
    text-decoration: none;
    color: #f7f7f7;
    font-size: 14px;
}

.show-btn:hover {
    background-color: deeppink;
}

/************************************** Responsive ******************************/

/* Responsive adjustments for large screens (<=992px) */
@media (max-width: 992px) { 
    .feature{
        margin: 1% 5%;
    }

}

/* Responsive adjustments for medium screens (<=580px) */
@media (max-width: 580px) { 
    .feature{
        margin: 1%;
    }
    .mainbody {
        margin: 15px;
    }

}